*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

:root{
    --white-color: #ffffff;
    --second-white-color: #fafafa;
    --principal-black-color: #0d131a;
    --second-black-color: #0d131a;
    --button-color: #fdc609;
    --principal-gris-color: #b8c0cc;
    --second-gris-color: #88888d;
}

/*Header*/


header {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea los elementos al inicio, manteniendo el logo a la izquierda */
    padding: 50px;
    background-color: var(--white-color);
    font-size: 1.6rem;
    position: fixed; /* Hace que el header sea fijo */
    top: 0; /* Alinea el header en la parte superior */
    width: 100%; /* Asegura que el header tenga un ancho completo */
    z-index: 1000;
}

.contenedor-logo img {
    width: 40px; /* Establece el ancho del logo */
    height: 40px; /* Establece la altura del logo */
    border-radius: 50%; /* Hace que el logo sea redondo */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
}

nav {
    display: flex;
    justify-content: center; /* Centra los enlaces dentro del nav */
    flex-grow: 1; /* Permite que el nav ocupe todo el espacio restante */
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--principal-black-color);
}

nav a:hover {
    color: var(--button-color);
}

nav a.active {
    border-bottom: 2px solid var(--button-color); /* Añade una línea debajo del enlace activo */
    padding-bottom: 5px; /* Opcional: Ajusta el padding para que el texto no esté demasiado cerca de la línea */
}


/* This is the main section */

main {
    margin-top: 144px; /* Ajusta este valor según la altura real de tu header */
}

/*This part is main section presentation*/

.main__section--presentacion {
    padding: 0 90px 90px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main__section--presentacion--son{
    margin-bottom: 20px;
}

.main__section--presentacion h1 {
    font-size: 6.4rem;
    color: var(--principal-black-color);
}

.main__section--presentacion p {
    font-size: 1.6rem;
    color: var(--principal-black-color);
    line-height: 1.6;
}

.main__section--presentacion a {
    display: inline-block;
    background-color: var(--button-color);
    color: var(--second-white-color);
    padding: 20px 80px; /* Ajustado para un alto de 60px y ancho de 30px de texto */
    text-decoration: none;
    border-radius: 5px; /* Opcional: añade redondeo a tu botón */
    font-size: 1.6rem;
    margin-bottom: 60px;
    border-radius: 5px; /* Opcional: añade redondeo a tu botón */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main__section--presentacion .contact-button:hover {
    background-color: var(--second-white-color); /* Invierte los colores */
    color: var(--button-color);
    transform: scale(1.1); /* Aumenta el tamaño ligeramente */
}

.main__section--presentacion img {
    width: 80%;
    height: 500px;
}

/*Here star main__section--quienessomos*/


.main__section--quienessomos {
    padding: 0 90px 90px 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra el contenido verticalmente si deseas */
    min-height: 100vh; 
}

.main__section--quienessomos__title {
    font-size: 4.8rem;
    color: var(--principal-black-color);
    text-align: center;
}

.main__section--quienessomos__description {
    font-size: 1.6rem;
    color: var(--principal-black-color);
    margin-top: 20px; /* Espacio entre el título y el párrafo */
    text-align: center; /* Centra el texto del párrafo */
}

.main__section--quienessomos__image {
    width: 80%;
    height: 400px;
    object-fit: cover; /* Asegura que la imagen cubra el espacio asignado sin deformarse */
    margin-top: 20px; /* Espacio entre el párrafo y la imagen */
}

/* Responsividad */
@media (max-width: 768px) {
    .main__section--quienessomos {
        padding: 0 20px 20px 20px; /* Ajuste de padding para dispositivos más pequeños */
    }

    .main__section--quienessomos__image {
        width: 100%; /* La imagen ocupa todo el ancho en dispositivos más pequeños */
        height: auto; /* Altura automática para mantener la proporción */
    }
}




/* This is the footer section */

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea una grilla de 3 columnas */
    gap: 20px; /* Espacio entre columnas */
    padding: 50px;
    background-color: var(--white-color);
    color: var(--principal-black-color);
    width: 100%;
}

.footer__column {
    /* Estilos opcionales para los divs de las columnas */
}

.footer__title {
    margin: 0 0 10px; /* Espacio debajo del título */
    font-size: 2.4rem;
    text-align: center;
}

.footer__content {
    margin: 8px 0; /* Espacio entre párrafos */
    font-size: 1.6rem;
    color: var(--principal-black-color);
    font-style: italic;
    text-align: center;

}
