*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

:root{
    --white-color: #ffffff;
    --second-white-color: #fafafa;
    --principal-black-color: #0d131a;
    --second-black-color: #0d131a;
    --button-color: #fdc609;
    --principal-gris-color: #b8c0cc;
    --second-gris-color: #88888d;
}

/*Header*/


header {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea los elementos al inicio, manteniendo el logo a la izquierda */
    padding: 30px;
    background-color: var(--white-color);
    font-size: 1.6rem;
    position: fixed; /* Hace que el header sea fijo */
    top: 0; /* Alinea el header en la parte superior */
    width: 100%; /* Asegura que el header tenga un ancho completo */
    z-index: 1000;
}

.contenedor-logo img {
    width: 40px; /* Establece el ancho del logo */
    height: 40px; /* Establece la altura del logo */
    border-radius: 50%; /* Hace que el logo sea redondo */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
}

nav {
    display: flex;
    justify-content: center; /* Centra los enlaces dentro del nav */
    flex-grow: 1; /* Permite que el nav ocupe todo el espacio restante */
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--principal-black-color);
}

nav a:hover {
    color: var(--button-color);
}

nav a.active {
    border-bottom: 2px solid var(--button-color); /* Añade una línea debajo del enlace activo */
    padding-bottom: 5px; /* Opcional: Ajusta el padding para que el texto no esté demasiado cerca de la línea */
}


/* This is the main section */

main {
    margin-top: 144px; /* Ajusta este valor según la altura real de tu header */
}

/*This part is main section presentation*/

.main__section--presentacion {
    padding: 0 90px 90px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main__section--presentacion--son{
    margin-bottom: 20px;
}

.main__section--presentacion-logo{
    width: 80%;
    height: 60vh;
    margin-bottom: 10px;
}



.main__section--presentacion h1 {
    font-size: 6.4rem;
    color: var(--principal-black-color);
}

.main__section--presentacion p {
    font-size: 1.6rem;
    color: var(--principal-black-color);
    line-height: 1.6;
}

.contact-button {
    display: inline-block;
    background-color: var(--button-color);
    color: var(--second-white-color);
    padding: 20px 80px; /* Ajustado para un alto de 60px y ancho de 30px de texto */
    text-decoration: none;
    border-radius: 5px; /* Opcional: añade redondeo a tu botón */
    font-size: 1.6rem;
    margin-bottom: 60px;
    border-radius: 5px; /* Opcional: añade redondeo a tu botón */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main__section--presentacion .contact-button:hover {
    background-color: var(--second-white-color); /* Invierte los colores */
    color: var(--button-color);
    transform: scale(1.1); /* Aumenta el tamaño ligeramente */
}



/*Here star main__section--quienessomos*/


.main__section--quienessomos {
    padding: 0 90px 90px 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra el contenido verticalmente si deseas */
    min-height: 100vh; 
}

.main__section--quienessomos__title {
    font-size: 4.8rem;
    color: var(--principal-black-color);
    text-align: center;
}

.main__section--quienessomos__description {
    font-size: 1.6rem;
    width: 70%;
    color: var(--principal-black-color);
    margin-top: 20px; /* Espacio entre el título y el párrafo */
    text-align: center; /* Centra el texto del párrafo */
    line-height: 1.6;
}

.main__section--quienessomos__image {
    width: 80%;
    height: 400px;
    object-fit: cover; /* Asegura que la imagen cubra el espacio asignado sin deformarse */
    margin-top: 20px; /* Espacio entre el párrafo y la imagen */
}

/* Responsividad */
@media (max-width: 768px) {
    .main__section--quienessomos {
        padding: 0 20px 20px 20px; /* Ajuste de padding para dispositivos más pequeños */
    }

    .main__section--quienessomos__image {
        width: 100%; /* La imagen ocupa todo el ancho en dispositivos más pequeños */
        height: auto; /* Altura automática para mantener la proporción */
    }
}


/*Here star main section nuestros servicios */

.main__section--nuestros-servicios {
    padding: 40px;
    background-color: #f7f7f7;
    position: relative;
    flex-direction: column;
    
}

.main__section--nuestros-servicios__title{
    font-size: 3.6rem;
    color: var(--second-black-color);
    margin-bottom: 40px;

}

.ourService__wrappa{

    display: flex;
    gap: 40px;
    overflow: hidden;
}

.ourService__card{
    display: flex;
    height: 220px;
    width: 50%;
    min-width: 50%;
    gap: 20px;
}
.ourService__card--img{
    width: 40%;
}

.ourService__card--img img {
    object-fit: cover;
    width: 100%;
    height: 220px;
}

.ourService__information{
    width: 60%;
    padding-top: 20px;
}

.ourService__information--title{
    font-size: 2.2rem;
    color: var(--principal-black-color);
    margin-bottom: 10px;
}

.ourService__information--p{
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--second-black-color);
}

/* Arrow code*/

.scroll-btn {
    display: none;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: var(--button-color); /* Cambia esto según el esquema de colores de tu sitio */
    color: var(--principal-black-color); /* Asume que tienes esta variable de color */
    border: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Botones circulares */
    
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.scroll-btn:hover {
    transform: translateY(-50%) scale(1.1); /* Efecto de levitación y crecimiento */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada al hacer hover */
}

.main__section--nuestros-servicios:focus .scroll-btn {
    display: flex;
}

.scroll-btn.left {
    left: 10px; /* Ajusta según necesidad */
}

.scroll-btn.right {
    right: 10px; /* Ajusta según necesidad */
}

.ourService__wrappa {
    overflow-x: scroll; /* Permite desplazamiento horizontal */
    scroll-behavior: smooth;
    display: flex;
    gap: 40px;
}

/* Ocultar scrollbar para una apariencia limpia */
.ourService__wrappa::-webkit-scrollbar {
    display: none;
}

.ourService__wrappa {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}


/* Animation cards */



        /* Card section */

        .card{
            box-shadow: 8px 14px 38px rgb(39 44 49 / 6%), 1px 3px 8px rgb(39 44 49 / 3%);
            display: flex;
            flex-direction: column;
            overflow: hidden;
            margin: 0 0 40px;
            padding: 20px 20px 20px 20px;
            min-height: 220px;
            border-bottom: 1px solid var(--border-color);
            background-color: var(--second-white-color);
            position: relative;
            border-radius: 12px;
            max-width: 360px;
        }

        /* Cuando el dispositivo tiene un ancho mayor a 720px */
        @media (min-width: 720px) {
            .card {
                min-width: 390px;
            }
        }

/* Cuando el dispositivo tiene un ancho mayor a 920px */

        
        .card__a{
            position: relative;
            display: block;
            overflow: hidden;
            border-radius: 8px;
        }
        
        .card__img{
           width: 100%;
           height: 200px; 
           object-fit: cover;
           background: no-repeat 50%;
        }
        
        .card__info{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        
        }
        
        .card__infoContent{
            position: relative;
            display: block;
        }
        
        .card__h2{
            margin: 15px 0 0;
            font-size: 2.2rem;
            color: #1B1A17;
            color: var(--principal-black-color);
            font-weight: 500;
            line-height: 2.85rem;
        }
        
        .card__description{
            font-size: 1.6rem;
            max-width: 56em;
            color: #1B1A17;
            color: var(--principal-black-color);
            font-weight: 300;
            margin-top: 15px;
        }
        
        .card__p{
            line-height: 2.4rem;
        }
        
        .card__author{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        
        .card__authorAvatar{
            width: 36px;
            height: 36px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("https://i.ibb.co/N34xb91/Avatar.jpg");
            border-radius: 50%;
        }
        
        .card__authorInfo{
            display: flex;
            flex-direction: column;
            margin-left: 10px;
        }
        
        .card__authorName{
            color: #434952;
            color: var(--principal-text-color);
            font-size: 1.2rem;
            line-height: 1.8rem;
            font-weight: 600;
        }
        
        .card__authorData{
            color: #738A94;
            color: var(--description-perfil-color);
            font-size: 1.2rem;
            font-weight: 400;
        }



/* Here start empresas que confian en nosotros code */

.main__section--empresasQueConfian {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 60px;
    padding: 0 80px 0 0;
    background-color: var(--white-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

.empresas-fijo {
    margin-right: 30px; /* Espacio antes de la cinta corredora */
    color: var(--principal-black-color);
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    z-index: 2;
    background-color: var(--white-color);
    padding: 0 20px 0 40px;
}

.empresas-desplazamiento {
    display: inline-block;
    animation: desplazamiento 20s linear infinite; /* Ajusta la duración según la necesidad */
    color: var(--button-color);
    font-size: 2rem;
    font-weight: 700;
    z-index: 1;
    
    
}

.empresas-desplazamiento span {
    margin-right: 30px; /* Espacio entre nombres de empresas */
}

@keyframes desplazamiento {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

/* Main section experiencia */

.main__section--experiencia {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas de igual tamaño */
    grid-template-rows: repeat(3, auto); /* Crea 3 filas que se ajustan al contenido */
    gap: 20px; /* Espacio entre filas y columnas */
    padding: 0 40px 40px 40px; /* Espacio alrededor del contenido dentro de la sección */
    background-color: white; /* Color de fondo de la sección */
}

.card__transition{
    transition: transform 500ms;
    min-width: 400px;
}

.card__transition:hover{
    transform: scale(1.1);
    transition: transform 500ms;
}

/* Modal code */

.modal-hidden {
    display: none;
}

.modal-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);  */
    /* gap: 20px;
    overflow-y: auto; */
    z-index: 1000; /* Asegura que el modal esté por encima de otros elementos */
    /* max-height: 100vh ;
    display: flex; */ 
   
}

#close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--button-color); /* Asegúrate de tener esta variable CSS definida */
    color: white;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
}


.grid-item {
    width: 100%; /* Ajusta el ancho de la imagen al contenedor */
    height: auto; /* Altura automática para mantener la proporción de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
}

.grid-item1{
    object-fit: cover;
    order: 1;
    width: 50%;
    height: 40vh;
}

.grid-item2{
    object-fit: cover;
    order: 2;
    width: 50%;
    height: 40vh;
}

.grid-item3{
    object-fit: cover;
    order: 3;
    width: 50%;
    height: 40vh;
}

.grid-item4{
    object-fit: cover;
    order: 4;
    width: 50%;
    height: 40vh;
}


/* Main section contacto */

.main__section--contacto{
    width: 100%;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.contacto__titulo{
    color: var(--principal-black-color);
    font-size: 4.8rem;
}

.contacto__texto{
    
    color: var(--principal-black-color);
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.6;
}

.main__section--contacto {
    background-color: #f7f7f7;
    padding: 50px 0;
  }
  
  .formulario__contenedor {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  }
  
  .formulario__titulo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
  }
  
  .formulario__campo {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  .formulario__label {
    width: 100%;
    margin-bottom: 5px;
    margin-left: 0;
    font-size: 1.4rem;
  }
  
  .formulario__input,
  .formulario__textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }

  .formulario__input{
    width: 100%;
    height: 40px;
  }
  
  .formulario__textarea {
    height: 100px;
  }
  
  .formulario__boton {
    cursor: pointer;
    background-color: var(--button-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 5px;
    display: block; /* Hace que el botón sea un bloque para permitir márgenes automáticos */
    margin-left: auto; /* Establece el margen izquierdo a auto */
    margin-right: auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 160px;
    height: 40px;
    font-size: 1.6rem;
  }
  
  .formulario__boton:hover, .formulario__boton:focus {
    background-color: #333; /* Color de fondo más oscuro al pasar el ratón por encima */
    transform: scale(1.05); /* Escala el botón ligeramente para dar sensación de elevación */
    outline: none; /* Remueve el contorno en foco para navegación con teclado */
  }

  .formulario__boton:active {
    transform: scale(0.95); /* Efecto de "presionado" al hacer clic */
  }
  
  /* Media queries para responsive */
  
  @media (max-width: 768px) {
    .formulario__contenedor {
      width: 90%;
    }
}


  
/* This is the footer section */

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea una grilla de 3 columnas */
    gap: 20px; /* Espacio entre columnas */
    padding: 50px;
    background-color: var(--white-color);
    color: var(--principal-black-color);
    width: 100%;
}

.footer__column {
    display: flex; /* Esto habilita Flexbox para este contenedor */
    flex-direction: column; /* Organiza los hijos en una columna */
    align-items: center; /* Centra los elementos hijos horizontalmente */
    justify-content: center; /* Centra los elementos hijos verticalmente */
    text-align: center; /* Asegura que el texto también esté centrado */
    height: 100%; 
}

.footer__title {
    margin: 0 0 10px; /* Espacio debajo del título */
    font-size: 2.4rem;
    text-align: center;
}

.footer__content {
    margin: 8px 0; /* Espacio entre párrafos */
    font-size: 1.6rem;
    color: var(--principal-black-color);
    font-style: italic;
    text-align: center;

}

.footer__column--icons {
    display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Mantiene h3 en la parte superior */
  align-items: center;
  

} 

.footer__icons-father{
   
  display: flex;
  justify-content: center; /* Centra los íconos horizontalmente */
  align-items: center;
}

.footer__icons-father a{
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.footer__icons-father a img{
    width: 40px;
    height: 40px;
}