.main__Section--wrappa{   
    grid-template-columns: repeat(1, 1fr); /* Crea 3 columnas de igual tamaño */
}

@media screen and (min-width: 600px) and (max-width: 700px) {

    .card__transition{
        grid-column: 1 / -1;
        margin: 0;
        flex-direction: row;
        gap: 20px;
        margin: 0;
        
    }
    
    .card__a{
        display: flex;
        order: 1;
        width: 40%;
        margin: 0;
    }
    
    .card__img{
        height: auto;
    }
    
    .card__info{
        width: 60%;
        order: 2;
    }

}

@media screen and (max-width: 600px)  {

    .card__transition:nth-child(9) {
        grid-column: 1 / -1;
        margin: 0;
        flex-direction: column;
        gap: 0px;
        margin-bottom: 20px;
        
    }
    
    .card__transition:nth-child(9) .card__a{
        width: 100%;
        margin: 0;
    }
    
    .card__transition:nth-child(9) .card__img{
        height: auto;
    }
    
    .card__transition:nth-child(9) .card__info{
        width: 100%;
    }

    .main__section--presentacion--header{
        padding: 20px;
    }

}

@media screen and (max-width: 580px)  {

    .main__section--presentacion--son br{
    display: none;
}

.contenedor-logo img {
    width: 140px; 
    height: 80%; 
}

}

@media screen and (max-width: 440px)  {

    .main__section--experiencia{
        padding: 20px;
    }

    .main__section--presentacion--header{
        padding: 20px;
    }

    .contenedor-logo img {
        width: 120px; 
        height: 80%; 
    }
    
}

/*Here strat the code to principal section code */

.main__section--presentacion h1{
    font-size: 4rem;
}
.main__section--presentacion--son br{
    display: none;
}


@media screen and (min-width: 560px) and (max-width: 700px){
    
    /* .main__section--presentacion p{
        top: 250px;
    }
    .contact-button{
        top: 400px;
    } */
}


/* .contact-button{
    top: 350px;
} */

@media screen and (max-width: 598px){
    
   
    /* .main__section--presentacion p{
        top: 290px;
        width: 100%;
    } */

    /* .contact-button{
        top: 390px;
    } */
    .main__section--presentacion h1{
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    
    .main__section--presentacion h1{
        font-size: 3.4rem;
    }
    
}

@media screen and (max-width: 440px){
    

    
}

@media screen and (max-width: 420px){
    
    /* .contact-button{
        top: 420px;
    }
    .main__section--presentacion p{
        top: 270px;
        width: 100%;
    }

    .contact-button{
        top: 370px;
    } */
}

/* Here start quienes somos section*/

.main__section--quienessomos {
    padding:  45px;
}

.main__section--quienessomos__description {
    width: 100%;
    font-size: 1.8rem;
}

.main__section--quienessomos__image {
    width: 100%;
}

.main__section--quienessomos__title {
    font-size: 3.8rem;
}

/* OurService section*/

@media screen and (max-width: 600px){
    
    
.ourService__card{
    flex-direction: column;
    height: auto;
    width: 100%;
    min-width: 100%;
    gap: 20px;
}

.ourService__card--img{
    width: 100%;
}

.ourService__card--img img {
    object-fit: cover;
    width: 100%;
    height: 220px;
}

.ourService__information{
    width: 100%;
}

.ourService__information--title{
    font-size: 2.6rem;
    margin-bottom: 6px;
}

.ourService__information--p{
    font-size: 1.8rem;
 
}

.scroll-btn {
   top: 50%;
   
}

}

/*Empresas que confian en dvp*/

.empresas-fijo {
    font-size: 3rem;  
}

.empresas-desplazamiento__span{
    margin-right: 40px; /* Espacio entre nombres de empresas */
    width: 160px;
    height: 60px;
}

@media screen and (max-width: 560px){
    .empresas-fijo {
        text-align: center;
    }

    .empresas-fijo br {
        display: flex;
    }
}

.empresas-desplazamiento {
    
    animation: desplazamiento 5s linear infinite; /* Ajusta la duración según la necesidad */
  
}


/* Contacto section */

.contacto__texto br{
    display: none;
}


.main__section--experiencia--h2{
    margin-bottom: 20px;
    margin-top: 20px;
}

.main__section--experiencia{
    padding-top: 10px;
}

/*Photo section */

@media screen and  (max-width: 490px){
    
    .grid-section {
        grid-template-columns: repeat(2, 1fr); /* 4 columnas */
        grid-template-rows: repeat(8, 1fr); /* 4 filas */
        gap: 20px; /* Espacio entre grid items */
    }

    .main--fotos{
        width: 100%;
        height: auto;
    }
}