.main__Section--wrappa{   
    grid-template-columns: repeat(1, 1fr); /* Crea 3 columnas de igual tamaño */
}

@media screen and (min-width: 600px) and (max-width: 700px) {

    .card__transition{
        grid-column: 1 / -1;
        margin: 0;
        flex-direction: row;
        gap: 20px;
        margin: 0;
        
    }
    
    .card__a{
        display: flex;
        order: 1;
        width: 40%;
        margin: 0;
    }
    
    .card__img{
        height: auto;
    }
    
    .card__info{
        width: 60%;
        order: 2;
    }

}

@media screen and (max-width: 600px)  {

    .card__transition:nth-child(9) {
        grid-column: 1 / -1;
        margin: 0;
        flex-direction: column;
        gap: 0px;
        margin-bottom: 20px;
        
    }
    
    .card__transition:nth-child(9) .card__a{
        width: 100%;
        margin: 0;
    }
    
    .card__transition:nth-child(9) .card__img{
        height: auto;
    }
    
    .card__transition:nth-child(9) .card__info{
        width: 100%;
    }

    .main__section--presentacion--header{
        padding: 20px;
    }

}

@media screen and (max-width: 580px)  {

br{
    display: none;
}

.contenedor-logo img {
    width: 140px; 
    height: 80%; 
}

}

@media screen and (max-width: 440px)  {

    .main__section--experiencia{
        padding: 20px;
    }

    .main__section--presentacion--header{
        padding: 20px;
    }

    .contenedor-logo img {
        width: 120px; 
        height: 80%; 
    }
    
}







